.anadiv{width:1200px; height:1000px; background-color:white; margin:auto; padding:10px;}
.üstdiv{width:1200px; height:150px; background-color:cyan; margin:auto; margin-bottom:10px; }
.soldiv{width:250px; height:840px; background-color:yellow; float:left;}
.icerik{width:680px; height:840px; background-color:white;  margin-left:10px;  float:left;}
.sagdiv{width:250px; height:250px; background-color:orange; margin-bottom:10px; margin-left:10px; float:left;}